*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/imagenes/carro.jpg);
    background-repeat: no-repeat;
    opacity: .95;
}
h1{
    float: left;
    padding: 35px; 
    font-size: 30px;
    font-family: 'Righteous', cursive;
    color: white;
}
header, nav, main, footer{
    width: 900px;
    margin: 0 auto;
}
header{
    height: 300px;
    background-color: rgb(255, 0, 0);
}
nav{
    height: 100px;
    background-color: rgb(66, 5, 5);
    text-align: right;
}

nav ul{
    list-style: none;
    display: inline-block;
 }
nav ul li{
     float: left;
     margin-top: 10px;
 }
nav a {
     color: white;
     text-decoration: none;
     font-size: 16px;
     padding: 20px;
     font-family: 'Open Sans Condensed', sans-serif;
 }
nav li a:hover{
   color: rgb(182, 243, 16);
 }