
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/imagenes/marcianitonofeik.jpg);

    background-repeat: no-repeat;

}
h1{
    float: left;
    padding: 35px;
    font-size: 30px;
    font-family: "Righteous" cursive;
    color: white;
    
}
header, nav, section, footer{
width: 900px;
margin: 0 auto;
}
header{
    
    height: 300px;
    background-color: rgb(255, 0, 0);
    background-image: url("/imagenes/banner.jpg");
}
nav{

    height: 100px;
    background-color: rgb(66, 5, 5);
    text-align: right;
}
section{
    
    height: 900px;
    background-color: aqua;
    background-image: url("/css3-1/imagenes/marcianito.gif");


}
footer{
    
    height: 100px;
    background-color: brown;
}
nav ul{
    list-style: none;
    display: inline-block;

}
nav ul li {
    float: left;
    margin-top: 10pc;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}
nav li a:hover{
  color: rgb(182, 243, 16);
}
.box{
    display: flex;
    flex-wrap: 100px;
    flex-flow: row wrap;
}
article{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}